/* ========================== Component Name ========================== */
$component: ".cta-33";

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

#{$component} {
  @apply relative w-full my-8 mx-auto;

  &__wrap {
    @apply flex relative w-full mx-auto py-24 px-12 max-w-screen-lg text-wire-dark;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__map {
    border-radius: 1rem;
  }

  &__title {
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__text {
    @apply text-wire-gray;
    margin-bottom: 2rem;
  }

  &__phone {
    margin-bottom: 1rem;
    font-weight: 400;
  }

  &__social {
    margin-top: 2rem;
  }

  &__social-icon {
    display: inline-block;
  }

  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {
    &__map {
      width: 47%;
    }

    &__contact {
      width: 45%;
    }
  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

#{$component}.someClass {
  // some style here
  #{$component}__wrap {
    // some style there
  }
}
